<body>
  <h3>Skills</h3>
  <div>
    <ul>
    <li>Communication Skills (verbal and non-verbal)</li>
    <li>Good time Management and ability to work under pressure</li>
    <li>Analytical skills and ability to work in a team content</li>
    <li>Adapting to Changing Priorities</li>
    <li>Problem Solving</li>
</ul>
  </div>

  <h3>Technical Skills</h3>
<div>
<ul>

    <li> skills and Languages(C++, SQL, PL/SQL, HTML, java, C#, CSS, Visual Basics, Angular
framework, Nestjs, TypeScript, Basic Javascript )</li>
<li> operating system (Comand Line-Ubuntu)</li>
<li> packet tracer</li>
<li>Information systems Analysis & Design SDLC</li>
<li> systems Analysis & Design SDLC</li>
<li>Management, Data Analysis, System Testing Experience</li> 



  </ul>
</div>
</body>

