<!-- Navigation -->

<body>
    <h2 class="w3-wide">About Me</h2>
    <p class="w3-opacity"><i>I am highly organized and hard-working individual with a passion for programming and database, with
        good problem solving abilities and who is able to work independently as well as in a team environment.
        I am a self-motivated individual with a positive attitude towards my career. Committed to working in
        fast moving environments and to secure a challenging position in a reputable organization to expand
        my skills and knowledge.</i></p>
    </body>

  